<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
	default-autowire="byName">
	<!-- 與DB 溝通物件設定 -->
	<bean id="userDAO" class="com.my.dao.UserDAOImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="importLogDAO" class="com.my.dao.ImportLogDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>

    <bean id="RecoverFileDAO" class="com.my.dao.RecoverFileDAO">
        <property name="dataSource" ref="dataSource" />
    </bean>
    
</beans>
